<!-- Navigation -->
<!-- index.html --> <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- index.html --> <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" style="width:25px;height:20px;"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">¿Quienes somos?</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModalRegister">Registrarse</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModalLoggin">Conectarse</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header" style=" background: url('assets/img/banner.jpg') center center no-repeat scroll;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" >
                    <h1 class="tagline">Mappache</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">

        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="assets/img/1.jpg" alt="">
                <h2>Reviza donde estas</h2>
                <p>Mapache te permite tomar los lugares donde te encuentras</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="assets/img/2.jpg" alt="">
                <h2>Registra el lugar</h2>
                <p>Guardarlos en una base de datos en la red</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="assets/img/3.jpg" alt="">
                <h2>Compartelo</h2>
                <p>Compartirlos y comentarlos con tus amigos</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Mappache 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
